html 
{
	background-image: url("images/gordon.jpg");
	background-size: cover;
}

header
{
	text-align: center;
}

body 
{
	margin: auto;
	padding: 20px;
	max-width: 75%;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-width: 3px;
	border-radius: 15px;
	border-style: solid;
	background-color: rgba(240, 240, 240, 0.9);
}

p, li, button
{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #000000;
}

button
{
	background-color: #27EF8F;
	border: 2px solid black;
	padding: 10px 20px;
	text-align: center;
}

img
{
	width: 100%;
}

td 
{
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.menuContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.menuItem {
	margin: 5px;
	width: 240px;
	height: 180px;
	border: solid 2px black;
	color: white;
	text-align: center;
	background-size: cover;
}

.window 
{
	margin: auto;
	padding: 20px;
	border-width: 3px;
	border-radius: 15px;
	border-style: solid;
	background-color: #EEEEEE;
}