
html 
{
	background-image: url("images/gordon.jpg");
	background-size: cover;
}

header
{
	text-align: center;
}

body 
{
	margin: auto;
	padding: 20px;
	max-width: 60%;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-width: 3px;
	border-radius: 15px;
	border-style: solid;
	background-color: rgba(240, 240, 240, 0.9);
}

p, li
{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #000000;
}

img
{
	width: 100%;
}

td 
{
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.window 
{
	margin: auto;
	border-width: 3px;
	border-radius: 15px;
	border-style: solid;
	background-color: #EEEEEE;
}