/*
	The CSS file for Halls Kitchen
	Made by Group 60 in IT2805 Fall 2019
 */

body
{
	background-image: url("images/graydon.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	/*
	Just here to act as background in case no browser support for background image.
	*/
	background-color: antiquewhite;
}


/* when changing the body, just put in another div or something then, so we don't lose it*/
#content {
    margin: auto;
	padding: 20px;
	position: relative;
	top: 75px;
    max-width: 75%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
	border: 3px solid;
    border-radius: 15px;
    background-color: rgba(240, 240, 240, 0.9);
	z-index: 0;
}


#navBar {
	position: fixed;
	top: 0;
	margin: auto;
	padding: 10px;
	width: 95%;
    max-width: 100%;
	font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
	border: 3px solid;
    border-radius: 15px;
    background-color: rgba(240, 240, 240, 0.9);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}

#navBar a, #navBar button {
	font-size: 22px;
	padding: 0;
	width: 75%;
	height: 50px;
}

@media only screen and (max-width: 850px) {
	#navBar a, #navBar button {
		font-size: 16px;
		width: 100%;
		padding: 0;
		height: 50px;
		margin: 0;
	}
}


header
{
	text-align: center;
}

p, li, button, input, textarea
{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	color: #000000;
}

button
{
	background-color: #27EF8F;
	border: 2px solid black;
	padding: 10px 20px;
	text-align: center;
}

button:hover {
	animation-name: buttonTransition;
	animation-duration: 250ms;
	background-color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@keyframes buttonTransition {
	from {
		background-color: #27EF8F;
		box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 0 0 0 rgba(0,0,0,0.19);
	}
	to {
		background-color: white;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
}

img
{
	width: 100%;
}

td
{
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}


/* rules related to menu.html mostly */
.menuContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.menuItem {
	margin: 5px;
	width: 240px;
	height: 180px;
	border: solid 2px black;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	background-size: cover;
}

.window
{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 75%;
	height: 550px;
	z-index: 3;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-width: 3px;
	border-radius: 15px;
	border-style: solid;
	background-color: #EEEEEE;
	animation-name: windowFade;
	animation-duration: 500ms;
}

@keyframes windowFade {
	from {width: 0; height: 0;}
	to {width: 75%; height: 550px;}
}

.window img {
	width: 60%;
	height: 60%;
	max-width: 600px;
	max-height: 450px;
}

.window #detailText {
	position: absolute;
	left: 65%;
	top: 75px;
	width: 30%;
	border: solid 2px black;
}

.underlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
    background-color: rgba(100, 100, 100, 0.5);
}



iframe {
	margin-top: 50px;
	width: 100%;
	height: 400px;
	border: 0;
}



.inquiry_input {
	width: 70%;
	margin-bottom: 25px;
}

#inquiry_container {
	margin-top: 45px;
}

textarea {
	resize: none;
}

.asterix {
	color: red;
}

#alert_div {
	display: none;
}

.alert {
  padding: 20px;
  background-color: yellow;
  color: black;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

#alert_div {
	text-align: center;
}


/*
	The following is mostly used for cart.html and cart.js
	If you need to use it for something else try to figure out
	a way to genericise it and refactor the files using it to the new name
 */

.cartImageDiv
{
	border: 1px solid black;
	border-radius: 5px;
	width: 10%;
	min-width: 100px;
	min-height: 100px;
	padding: 10%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

/*.cartImage
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
}*/

.cartItems
{
	width: 100%;
	min-height: 50px;
}

.cartItem
{
	width: 95%;
	margin: auto;
}

.itemDiv
{
	margin: 10px 0;
	padding: 10px;
	border: 2px black;
	border-radius: 10px;
	background: rgba(220, 240, 220, 0.9);
	position: relative;
}

.cartChoiceDiv
{
	display: inline-block;
	position: relative;
	margin: auto 20px;
	/*
	float: left;
	 */
	top: -10%;
	width: 60%;
}

.minusButton
{
	height: 42px;
	width: 42px;
	margin: auto 5px;
}

.numberfield
{
	position: relative;
	top: -10px;
	width: 40px;
	height: 40px;
}

.plusButton
{
	height: 42px;
	width: 42px;
	margin: auto 5px;
}

.totalPrice
{
	float: right;
}

.orderButton
{
	position: relative;
	margin: 20px 0;
	left: 50%;
	transform: translate(-50%,0);
}

/*
	End of cart.html and cart.js specific styling.
 */
